<%= link_to 'Edit', edit_user_visit_path(@user, @visit) %> |
<%= link_to 'Back', user_visits_path %> |
<%= link_to 'Users list', users_path %>

<p>
  <b>Place name:</b>
  <%=h @visit.place_name %>
</p>

<p>
  <b>Visit date:</b>
  <%=h @visit.visit_date %>
</p>

<p>
  <b>User:</b>
  <%=h @visit.user.full_name %>
  
</p>

<p>
<b>Photo:</b>
<% if @visit.has_photo? %>
<%= image_tag @visit.photo_path %>
<% else %>
No photo.
<% end %>
</p>

