<%= link_to 'Edit', edit_user_visit_path(@user, @visit) %> |
<%= link_to 'Back', user_visits_path %> |
<%= link_to 'Users list', users_path %>

<p>
  <b>Place name:</b>
  <%=h @visit.place_name %>
</p>

<p>
  <b>Visit date:</b>
  <%=h @visit.visit_date %>
</p>

<p>
  <b>User:</b>
  <%=h @visit.user.full_name %>
  
</p>

<p>


<% if @visit.has_photo1? %>
<b>Photo 1:</b>
<%= image_tag @visit.photo_path1 %><br />
<% end %>



</p>

