<%= link_to 'Edit', edit_user_visit_path(@user, @visit) %> |
<%= link_to 'Back', user_visits_path %> |
<%= link_to 'Users list', users_path %>

<p>
  <b>Place name:</b>
  <%=h @visit.place_name %>
</p>

<p>
  <b>Visit date:</b>
  <%=h @visit.visit_date %>
</p>

<p>
  <b>User:</b>
  <%=h @visit.user.full_name %>
  
</p>

<p>
<b>Add an image:</b>
<br />
<% form_for([@user, @visit], :html => {:multipart => true }) do |f| %>
<%= f.file_field :photo_data %> <br />
<%= f.submit 'Add' %>
<% end %>
</p>

<p>
<% if @visit.has_photo? %>
  <% @visit.photos.each do |photo| %>  

    <b>Photo:</b>
    <%= image_tag photo.photo_path %><br />

  <% end %>
<% end %>
</p>

